
h1 {
  text-align: center;
  font-family:Garamond;
 
}
nav, article {
  float: left;
  width: 100%;
  height: auto;
}
section::after {
  content: "";
  display: table;
  clear: both;
}
article {
  float: right;
  padding: 20px;
  width: 70%;
  background-color: #ff3c00;
  height: 900px;
  color: white;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav {
  width: 301px;
  float:left;
  background: #df7306;
  padding: 20px;
}
* {
  box-sizing: border-box;
}
.nav-link:link,
.nav-link:visited {
  height: 40px;
  text-decoration: none;
  border-bottom:  solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 16px;
  transition: color 0.2s, background-color 0.2s, border-bottom 0.2s;
  line-height:30px ;
}

.nav-link:hover,
.nav-link:active {
  background-color: #e6f60c;
  color: #df7306;
  border-bottom: transparent;
}
header {

  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  background-attachment:fixed;
  background-size: cover;
}

  & ul li {
    display: block;
    text-transform: uppercase;
    height: 40px;
    width: 200px;
    margin-bottom: 3px;
    position: relative;
  }
    
    &:last-child {
      margin-bottom: 0;
    }
    & a {
      color: #fff;
      padding-left: 15%;
      display: block;
      width: 85%;
      height: 100%;
      font-size: 24px;
      line-height: 60px;
      text-decoration: none;
      position: absolute;
      z-index: 1;
    }
    &:before {
      content: '';
      position: absolute;
      background:bgColorLiBefore;
      height: 100%;
      
      border-top-left-radius: radius;
      border-bottom-left-radius: radius;
    }
    &:after {
      content: '';
      position: absolute;
      background: bgColorLiAfter;
      height: 100%;
      z-index: 0;
      border-top-right-radius: radius;
      border-bottom-right-radius: radius;
    }
    &:hover:before {
      width: 10px;
      left: -10px;
    }
    &:hover:after {
      width: 100%;
    }